.block-prev{
    position: relative;

    a{
        display: flex;
        text-decoration: none;
        color: inherit;
    }
    margin: 20px 0;
    max-height: 200px;
    padding: 25px;
    -webkit-box-shadow: 10px 10px 28px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 28px -9px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 28px -9px rgba(0,0,0,0.75);
    img{
        padding: 10px;
        max-width: 250px;
    }

    .date{
        display: block;
        margin: 5px 0;
        color: #8f8f8f;
    }

    .text-blog{
        width: 100%;
        padding: 15px;
        .prev-text{
            overflow: hidden;
            height: 200px;
            span{
                
            }
        }
        .title-prev{
            font-weight: bold;
            font-size: 22px;
        }
    }
}

.blog{
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    max-width: 800px;
}